@import 'tailwindcss';

@theme {
  --color-lightBeige: #fef8e9;
  --color-beige: #edddb5;
  --color-mediumBeige: #a09070;
  --color-darkBeige: #7c6732;
  --color-greyBeige: #b7a987;
  --color-black: #12110f;
  --color-grey: #cecdcc;
}

body {
  @apply bg-beige m-0 p-0 text-black;
}

@plugin "tailwind-scrollbar";

/* Buy Me a Coffee widget styles */
#bmc-iframe {
  height: 60vh !important;
  min-height: 0 !important;
  transform-origin: left bottom !important;
}

@media (max-width: 768px) {
  #bmc-iframe {
    height: calc(100vh - 200px) !important;
  }
}
